$bodyFont: "Open Sans", sans-serif;

.nomination-header {
  font-size: 1.6vw;
  font-family: $bodyFont;
}
.sub-header-nom {
  padding: 5px;
  font-size: 2.5vw;
  padding-bottom: 20px;
  font-family: $bodyFont;
}
.results {
  font-size: 1.8vw;
  padding-bottom: 40px;
}
