$bodyFont: "Open Sans", sans-serif;

.input-data {
  padding: 5px;
  padding-bottom: 40px;
  font-family: $bodyFont;
}
.title {
  text-align: center;
  font-family: $bodyFont;
}
.sub-header {
  font-size: 2.5vw;
  padding-bottom: 30px;
  font-family: $bodyFont;
}
.movie-nominations {
  font-family: $bodyFont;
}
.results{
    font-size: 1.8vw;
}
