$bodyFont: "NetflixSans";
$bodyFontColor: whitesmoke;

.movie-card {
  padding: 0;
  line-height: 200%;
  text-align: center;
  margin-right: 10px;

  p {
    padding: 0;
    margin: 0;
    line-height: 200%;
  }
  .nominate {
    padding: 5px;
  }
}
