.Footer {
  background-color: #34e89e;
  a {
    text-decoration: none;
  }
  #site-info {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
  }
  h3 {
    text-align: center;
    font-size: 15px;
    padding-top: 80px;
    padding-bottom: 5px;
  }
  .heart {
    margin: 0px 6px 0px 6px;
  }
}
#icon {
  margin: 20px 10px 20px 10px;
  color: black;
}
.contact-link {
  text-align: center;
  padding-bottom: 30px;
}

.link-color {
  color: whitesmoke;
}
