@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  background: #e4a7a7;
  color: #ffffff;
}
.jumbotron {
  background-color: #bac2ee;
  background-image: url("./Assets/filmstrip.png");
  background-size: cover;
  background-repeat: inherit;
  .header {
    font-family: -apple-system, Helvetica, sans-serif;
    //font-family: "Noto Sans JP", sans-serif;
    font-size: 5vw;
    padding-left: 100px;
    background-color: transparent;
  }
  .film-strip {
    height: 40px;
    width: 35px;
    color: black;
  }
}

/* .movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
} */
/* .image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
} */
/* ------------------------------------------------------------  */
