@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
//@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&family=Noto+Sans&display=swap");
// @font-face {
//   font-family: "NetflixSans";
//   src: url("./fonts/NetflixSansRegular.woff") format("woff");
// }
$bodyFont: "Khula", sans-serif;
$bodyFont2: "Noto Sans", sans-serif;

.jumbotron {
  position: relative;
  overflow: hidden;
  height: 300px;
  padding: 0;
  margin: 0;
  line-height: 200%;
}

#video-background {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  opacity: 0.5;
}

.header {
  font-family: $bodyFont;
  font-family: $bodyFont2;
  text-shadow: rgb(88, 74, 134) 0px 0px 2px;
  font-size: 4vw;
  color: rgb(228, 222, 247);
  //z-index: 2; /* Show content above video */
}
.nav-bar {
  background-color: #0f3443;
  //background-color: #061161;
}

.modal-title {
  font-family: $bodyFont;
  font-family: $bodyFont2;
}
.icons {
  padding-right: 14px;
  padding-top: 4px;
}
